<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta
		name="description"           
		content="Best restaurant at Indonesia">
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="./images/favicon/icon.png">
	<!-- apple touch icon -->
	<link rel="apple-touch-icon" href=".images/favicon/icon.png">
	<!-- Material icons -->
	<link rel="preload"
		href="https://fonts.googleapis.com/icon?family=Material+Icons"
		as="font"
		onload="this.onload=null;this.rel='stylesheet'">
    <title>her</title>
</head>
<body>
	<skip-link></skip-link>
	<header>
		<app-bar></app-bar>
	</header>
	<main id="mainContent"></main>
	<footer id="footer">
		<foot-bar></foot-bar>
	</footer>
	<noscript>
		<p>Ups, Javascript is not available or Javascript is being turned off!</p>
	</noscript>
</body>
</html>
