/* AppBar / header */

@media screen and (min-width: 650px) {
  .app-bar {
      grid-template-columns: 1fr auto;
      padding: 8px 32px;
  }

  .app-bar .app-bar__menu {
      display: none;
  }
 
  .app-bar .app-bar__navigation {
      position: static;
      width: 100%;
  }
 
  .app-bar .app-bar__navigation ul li {
      display: inline-block;
  }
 
  .app-bar .app-bar__navigation ul li a {
      display: inline-block;
      width: 90px;
      text-align: center;
	  margin: 0;
  }
}

@media screen and (max-width: 649px) {
	.app-bar__brand {
	   margin-left: 90%;
	}

	.app-bar .app-bar__navigation {
		background-color: #f2f2f2;
		color: black;
		min-height: 833px;
		min-width: 210px;
	}

	.app-bar .app-bar__navigation ul li a {
		color: black;
		padding: 12px 0;
		margin: 3px 0;
	}
}

@media screen and (max-width: 319px) {
	.app-bar__brand {
		margin-left: 85%;
	}
}

@media screen and (max-width: 244px) {
	.app-bar__brand {
		margin-left: 80%;
	}
}

@media screen and (min-width: 769px) {
	nav a {
		padding: 12px 20px;
	}
}


/* footer */

@media screen and (max-width: 768px) {
	footer {
		font-size: 11px;
		border-radius: 20px 20px 0 0;
	}
}

@media screen and (max-width: 425px) {
	footer {
		font-size: 10px;
	}
}



/* list restaurant */


/* heros list restaurant */

@media screen and (max-width: 425px) {
	.heros {
		height: 600px;
	}

	.heros + p {
		font-size: 28px;
	}
}

@media screen and (max-width: 320px) {
	.heros + p {
		font-size: 24px;
	}
}

@media screen and (max-width: 768px) {
	.heros {
		border-radius: 0 0 20px 20px;
	}
}


/* fragment list restaurant */


@media screen and (min-width: 650px) {
	figcaption {
		font-size: 14px;
	}
}

@media screen and (min-width: 768px) {
	.fragment {
		max-width: 1070px;
		margin: 0 auto;
	}

	.fragment a {
		margin: 3%;
	}

	.icon {
		font-size: 42px;
	}

	figcaption {
		font-size: 16px;
	}
}


/* content list restaurant */


@media screen and (max-width: 474px) {
	.box__name {
		font-size: 15px;
	}

	.box__description {
		font-size: 12px;
		padding: 0 4% 0 0;
		text-align: left;
	}

	.box__rating {
		max-width: 80%;
	}

	.box__rating p {
		font-size: 12px;
	}

	.box__city {
		max-width: 80%;
	}

	.box__city p {
		font-size: 12px;
	}
}

@media screen and (min-width: 697px) {
	.box__description {
		font-size: 15px;
	}
}

@media screen and (min-width: 768px) {
	#content {
		max-width: 1000px;
		margin: 0 auto;
	}

	.wrapper {
		margin: 2% 0 5% 0;
	}
}



/* detail */


/* heros detail */

@media screen and (max-width: 600px) {
	.heros__detail {
		max-height: 98%;
	}
}

@media screen and (max-width: 375px) {
	.heros__detail {
		min-height: 98%;
	}
}

/* title detail */

@media screen and (min-width: 408px) {
	.description__detail {
		-webkit-line-clamp: 4; /* number of lines to show */
	}
}

@media screen and (min-width: 500px) {
	.description__detail {
		-webkit-line-clamp: 3; /* number of lines to show */
	}
}

@media screen and (min-width: 650px) {
	.wrapper__detail__page {
		margin: 0 8%;
	}

	.box__favorite__detail i {
		font-size: 32px;
	}

	.description__detail {
		font-size: 15px;
		margin: 0 10px;
	}

	.wrapper__customerReviews {
		padding: 0 8%;
	}
}

@media screen and (min-width: 769px) {
	.wrapper__detail__page {
		margin: 0 14%;
	}

	.box__detail__title {
		font-size: 15px;
	}

	.title__detail {
		font-size: 20px;
	}

	.description__detail {
		font-size: 16px;
		margin: 0 16px;
	}

	.box__menus {
		font-size: 17px;
	}

	.box__menu {
		font-size: 15px;
	}

	.box__favorite__detail i {
		font-size: 37px;
	}

	.wrapper__customerReviews {
		padding: 0 14%;
	}

	.wrapper__customerReviews > p {
		font-size: 17px;
	}

	.box__review b {
		font-size: 15px;
	}

	.review__date {
		font-size: 14px;
	}

	.box__review__body {
		font-size: 15px;
	}

	.rate label {
		font-size: 14px;
		margin-bottom: 10px;
	}
}

@media screen and (min-width: 1024px) {
	.box__fragment__detail__single i {
		font-size: 30px;
	}
}

@media screen and (min-width: 1085px) {
	.wrapper__detail__page {
		margin: 0 17%;
	}

	.wrapper__customerReviews {
		padding: 0 17%;
	}
}


/* failed request list  */

@media screen and (min-width: 768px) {
	.request__failed {
		max-width: 1000px;
		margin: 0 auto;
	}
}

/* failed request detail */

@media screen and (min-width: 650px) {
	.failed__detail {
		margin: 5% 14%;
	}
}

/* not have a favorite */

@media screen and (min-width: 768px) {
	.favorite__empty {
		margin: 0;
		padding: 20px;
	}

	.favorite__empty i {
		font-size: 60px;
	}

	#favoriteContent {
		max-width: 1000px;
		margin: 0 auto;
	}
}
